<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezy.approval.mapper.ApprovalTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ezy.approval.entity.ApprovalTemplate">
        <id column="id" property="id" />
        <result column="template_id" property="templateId" />
        <result column="template_name" property="templateName" />
        <result column="is_deleted" property="isDeleted" />
        <result column="content" property="content" />
        <result column="pattern_image" property="patternImage" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="request_param" property="requestParam" />
        <result column="response_param" property="responseParam" />
<!--        <result column="desc" property="desc" />-->
<!--        <result column="enable" property="enable" />-->
    </resultMap>
    <select id="listPage" resultType="com.ezy.approval.model.template.TemplateListVO">
        SELECT
            template_id AS templateId,
            template_name AS templateName,
            pattern_image AS patternImage,
            description AS description,
            is_enable AS isEnable
        FROM
            t_approval_template
        <where>
            <if test="templateQuery.templateName != null and templateQuery.templateName != ''">
                AND template_name LIKE CONCAT('%',#{templateQuery.templateName},'%')
            </if>
            <if test="templateQuery.templateId != null and templateQuery.templateId != ''">
                AND template_id = #{templateQuery.templateId}
            </if>
            <if test="templateQuery.systemCode != null and templateQuery.systemCode != ''">
                AND system_code = #{templateQuery.systemCode}
            </if>
            <if test="templateQuery.isEnable != null ">
                AND is_enable = #{templateQuery.isEnable}
            </if>
            <if test="templateQuery.isDeleted != null ">
                AND is_deleted = #{templateQuery.isDeleted}
            </if>
        </where>
    </select>

</mapper>
